.container {
  text-align: center;
}

.box {
  border: 1px solid black;
  width: 80px;
  height: 80px;
  display: inline-block;
  line-height: 80px
}

.board {
  display: inline-flex;
  flex-wrap: wrap;
  width: 320px;
}